.post{
    width: 500px;
    margin: 0 auto;
}

.post-trigger{
    margin: 0;
    padding: 10px;
    display: block;
    background: #333;
    color: #fff;
    border-top: 1px solid #fff;
}

.post-contents{
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}